body {
	font-family: sans-serif;
	font-size: 20px;
	margin: 24px 0 0 0;
}

h1 {
	font-size: 30px;
	text-align: center;
}
.menubar {
	background: whitesmoke;
	display: flex;
	font-size: 16px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.dropdowntitle {
	padding: 2px 10px;
}

.dropdowntitle.pinright {
	margin-left: auto;
}

.dropdowntitle.center {
	margin-left: auto;
	margin-right: auto;
	/*font-style: italic;*/
}

.dropdowntitle.active {
	background: dodgerblue;
}

.dropdowntitle.disabled {
	color: lightgray;
}

.dropdownmenu {
	background: whitesmoke;
	border: 1px solid gray;
	position: absolute;
}

.dropdownitem {
	padding-left: 10px;
	padding-right: 10px;
}
.dropdownitemnote {
	height: 28px;
}
.dropdownitem.disabled {
	color: lightgray;
}
.dropdownitem:hover {
	background: dodgerblue;
}
.dropdownitem.disabled:hover {
	background: whitesmoke;
}

.dialogparent {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
}

.dialog {
	position: fixed;
	margin: auto;
	padding: 10px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 300px;
	height: 150px;
	background: white;
	z-index: 10;
}

.dialog-large {
	width: 300px;
	height: 300px;
}

.dialog h1 {
	font-size: 80%;
}

.dialog p {
	font-size: 70%;
	margin: 0;
}

label {
	display: inline-block;
	font-size: 70%;
	margin-right: 10px;
	text-align: right;
	width: 100px;
}

.dialog-contents {
	border: 1px solid gray;
	bottom: 50px;
	left: 10px;
	overflow: auto;
	position: absolute;
	right: 10px;
	top: 80px;
}

.dialog-contents-large {
	top: 60px;
}

.dialog-contents .selected {
	background: dodgerblue;
}

.dialog-buttonrow {
	bottom: 10px;
	position: absolute;
	right: 10px;
}

.dialog-button {
	border: none;
	color: white;
	height: 30px;
	margin-left: 6px;
	width: 80px;
}

.dialog .ok {
	background: lightgreen;
}

.dialog .ok:hover {
	background: green;
}

.dialog .cancel {
	background: silver;
}

.dialog .cancel:hover {
	background: slategray;
}

.part {
	display: flex;
	flex-wrap: nowrap;
	margin: 8px 0;
}

.left {
	flex-shrink: 0;
	width: 130px;
	display: flex;
	align-items: center;
}

.right {
	/*overflow: hidden;*/
	border-left: 1px solid black;
	padding-left: 12px;
}

.right-noborder {
	overflow: hidden;
	padding-left: 12px;
}

.phraseName {
	font-size: 18px;
	margin-bottom: 8px;
	margin-top: 3px;
}

.notes {
	display: flex;
	font-family: monospace;
	justify-content: flex-end;
	margin-top: -11px;
	padding: 5px;
}

.note {
	border: 1px solid lightgray;
	display: flex;
	flex-shrink: 0;
	height: 24px;
	justify-content: center;
	width: 14px;
}

.note.active {
	background: dodgerblue;
}

@keyframes flash {
    from {
        background: green;
    }
    to {
        background: white;
    }
}

.note.flash {
    animation-name: flash;
	animation-duration: 0.25s;
    animation-timing-function: ease-out;
}

@keyframes light-flash {
    from {
        background: palegreen;
    }
    to {
        background: white;
    }
}

.note.light-flash {
    animation-name: light-flash;
	animation-duration: 0.25s;
    animation-timing-function: ease-out;
}

.transport {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    bottom: 0px;
    height: 80px;
    width: 100%;
    background: rgb(240, 240, 240);
    transition: bottom 0.3s ease-in-out;
}

.transport button {
    height: 70px;
    width: 70px;
    margin: 0 5px;
    border-radius: 50%;
}

.tempo {
    display: flex;
    height: 70px;
    width: 200px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 125%;
}

.tempo input {
    width: 80px;
}

.level {
    display: flex;
    height: 70px;
    width: 100px;
	font-size: 15px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
	text-align: center;
}

.level input[type=range] {
    width: 80px;
}

.tempoLine {
	stroke: pink;
	stroke-width: 2;
}

.tempoLine:hover {
	stroke: red;
	stroke-width: 4;
}

.tempoCircle {
	r: 5;
	fill: lightgreen;
}

.tempoCircle:hover {
	r: 10;
	fill: green;
}
